body {
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
  margin: 0;
  padding: 0;
}

header {
  background: #020617;
  padding: 40px;
  text-align: center;
}

section {
  padding: 30px;
  max-width: 900px;
  margin: auto;
}

h1, h2 {
  color: #38bdf8;
}

ul {
  line-height: 1.8;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  color: #94a3b8;
}
.profile-pic {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-top: 20px;
  border: 3px solid #38bdf8;
  object-fit: cover;
}
